:root {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    color: #243D6F;
}

body {
    margin: 0;

    display: flex;

    box-sizing: border-box;
}

.main {
    flex: 1535 0 0;
}

.aside {
    flex: 802 0 0;
    padding: 0 4.23620026% 0;
    background: rgba(42, 46, 65, 0.7);

    min-width: 490px;
}

.main {
    padding: 83px 6.08137045%;
}

.timeline {
    position: relative;
    --hour-height: 123px;
    --time-shift: 155px;
}

.timeline__hours {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

.timeline__hours li {
    height: var(--hour-height);
    border-top: 2px solid #F3F3F3;
    margin-left: var(--time-shift);
    box-sizing: border-box;
}

.timeline__hours li span {
    position: absolute;
    display: block;
    transform: translate(calc(-1*var(--time-shift)), -50%) translateY(2px);

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;

    color: #A4B0C3;
}

.timeline__events {
    position: absolute;
    top: 0;
    left: var(--time-shift);
    right: 0;

    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.timeline__event {
    position: absolute;
    --border-color: #8576ED;
    --background-color: rgba(133, 118, 237, 0.15);
    border-left: 6px solid var(--border-color);
    background: var(--background-color);
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline__event--design {
    --border-color: #3D83F9;
    --background-color: rgba(61, 131, 249, 0.15);
}

.timeline__event--managment {
    --border-color: #EEA57C;
    --background-color:rgba(238, 165, 124, 0.15);
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    padding: 14.0233723% 0;

    position: relative;
}

.calendar__btn {
    flex: 0 0 18px;
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;

    cursor: pointer;

    color: #fff;
}

.calendar__btn:hover {
    color: #EEA57C;
}

.calendar__btn-image {
    width: 100%;
    aspect-ratio: 1/2;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: "round";
    stroke-linejoin: "round";
}

.calendar__btn-image--reverse {
    transform: rotate(180deg);
}

/* comment */
.calendar__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    text-align: center;

    color: #FFFFFF;
}

.calendar__header::after {
    content: '';

    position: absolute;

    bottom: 0;

    width: 100%;
    height: 4px;

    border-top: 2px solid rgba(0, 0, 0, .17);
    background: rgba(255, 255, 255, .13);

    mix-blend-mode: normal;

    box-sizing: border-box;
}

.calendar__body {
    margin: 20px 0 0;
}

.calendar__day-names {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 7.34557596% 0;

    font-weight: 500;
    font-size: 26px;
    line-height: 30px;

    text-align: center;

    color: #FFFFFF;

    opacity: 0.6;
}

.calendar__day-name {
    flex-basis: 14%;
    flex-grow: 1;
}

.calendar__days {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.calendar__day {
    flex-basis: 14%;
    flex-grow: 1;

    padding: 4.1736227% 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__day a {
    display: block;
    margin: 0 2px;

    font-weight: 500;
    font-size: 29px;
    line-height: 34px;

    color: #FFFFFF;

    text-decoration: none;

    width: 100%;
    aspect-ratio: 1;

    background: transparent;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .6s ease-in-out 0s;
}

.calendar__day a:hover,
.calendar__day a:focus {
    background: #3C82F9;
}
