:root {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    color: #243D6F;
}

body {
    margin: 0;

    display: grid;
    grid-template-areas: "main aside";
    grid-template-columns: 1533fr 802fr;

    box-sizing: border-box;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
    background: rgba(42, 46, 65, 0.7);
    padding: 3.59435173% 4.27899016%;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    box-sizing: border-box;
    padding-bottom: 85px;

    position: relative;
}

.calendar__header::before,
.calendar__header::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';

    width: 100%;
    height: 2px;
}

.calendar__header::before {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.17;
}

.calendar__header::after {
    transform: translateY(100%);
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.13;
}

.calendar__title {
    font-size: 1.28571429rem;
    line-height: 1.16666667;

    color: #FFFFFF;
}

.calendar__btn {
    position: relative;

    flex: 0 0 18px;
    background: transparent;
    border: none;
    padding: 0;

    color: #fff;

    box-sizing: border-box;
    transition: color .8s ease-in-out 0s;
}

.calendar__btn:hover {
    color: red;
}

.calendar__btn::before {
    width: 300%;
    aspect-ratio: 1;

    display: block;

    background: transparent;
    border-radius: 50%;

    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    box-sizing: border-box;

    transform: translate(-50%, -50%);

    z-index: 1;

    transition: background .6s linear 0s;
}

.calendar__btn:hover {
    cursor: pointer;
}

.calendar__btn:hover::before {
    background: #3C82F9;
}

.calendar__btn-image {
    display: block;

    width: 100%;
    aspect-ratio: 1/2;

    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

    position: relative;
    z-index: 2;
}

.calendar__btn-image--reverse {
    transform: rotate(180deg);
}

.calendar__body {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;

    aspect-ratio: 1.30217028;
}

.calendar__day-names {
    margin: 0;
    padding: 0;
    list-style: none;

    display: contents;
    /* display: flex; */
    /* padding: 7.51252087% 0; */
    /* column-gap: 5px; */
}

.calendar__day-name {
    flex: 1 0 0;
    text-align: center;
}

.calendar__days {
    margin: 0;
    padding: 0;
    list-style: none;

    display: contents;

    /* display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;

    aspect-ratio: 1.08333333; */
}

.calendar__day {
    /* flex: 1 0 13%; */
    box-sizing: border-box;
    position: relative;

    display: grid;
    align-items: center;
    /* padding-top: 21.7028381%; */
    /* padding: 10px 0; */
}

.calendar__day a {
    width: 100%;
    aspect-ratio: 1;

    background: transparent;
    border-radius: 50%;

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__day a:hover {
    background-color: #3C82F9;
}

.main {
    padding: 83px 6.08137045%;
}

.timeline {
    position: relative;
    --hour-height: 123px;
    --time-shift: 155px;
}

.timeline__hours {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

.timeline__hours li {
    height: var(--hour-height);
    border-top: 2px solid #F3F3F3;
    margin-left: var(--time-shift);
    box-sizing: border-box;
}

.timeline__hours li span {
    position: absolute;
    display: block;
    transform: translate(calc(-1*var(--time-shift)), -50%) translateY(2px);

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;

    color: #A4B0C3;
}

.timeline__events {
    position: absolute;
    top: 0;
    left: var(--time-shift);
    right: 0;

    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.timeline__event {
    position: absolute;
    --border-color: #8576ED;
    --background-color: rgba(133, 118, 237, 0.15);
    border-left: 6px solid var(--border-color);
    background: var(--background-color);
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline__event--design {
    --border-color: #3D83F9;
    --background-color: rgba(61, 131, 249, 0.15);
}

.timeline__event--managment {
    --border-color: #EEA57C;
    --background-color:rgba(238, 165, 124, 0.15);
}
