body {
    margin: 0;
}

.section {
    background: linear-gradient(90deg, #EDF0F5 0 76.7%, #415167 76.7% 100%);
    padding-top: 88px;
    padding-bottom: 128px;
}

.section__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;

    color: #415167;
    margin: 0 0 64px;
    text-align: center;
}

.slider {
    margin: 0 0 0 128px;
    overflow: hidden;

    position: relative;
}

.slider__body {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    gap: 30px;

    transition: transform .6s linear 0s;
}

.slider__item {
    flex: 0 0 360px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(205, 205, 205, 0.5);
    padding-bottom: 42px;

    transition: opacity .6s linear 0s;
}

.card__img-wrapper {
    background: #EDF0F5;
    aspect-ratio: 360 / 300;
}

.card__img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center bottom;
}

.card__prise {
    margin: 42px 42px 10px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #C7A17A;

    display: flex;
    align-items: center;
}

.card__prise del {
    margin-left: 20px;

    font-size: 14px;
    line-height: 16px;
    text-decoration: line-through;

    color: #415167;
}

.card__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #232C38;

    margin: 0 42px 10px;
}

.card__description {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    color: #151D28;

    margin: 0 42px 32px;
}

.card__actions {
    display: flex;
    justify-content: space-between;
    margin: 0 42px 0;
}

.card__action {
    flex: 0 0 auto;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #415167;

    text-decoration: none;
}

.card__action--main {
    background: #C7A17A;
    border-radius: 19px;

    padding: 6px 17px;

    color: #F9FBFF;
}

.card--hidden {
    opacity: 0.3;
}

.slider__action {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    width: 48px;
    aspect-ratio: 1;

    border-radius: 50%;
    background: #C7A17A;

    box-sizing: border-box;
    padding: 15px 12px;

    border: 0;
    cursor: pointer;

    transition: opacity .6s linear 0s;
    opacity: 1;
}

.slider__action-img {
    width: 100%;
    aspect-ratio: 24 / 17;
    fill: #F9FBFF;
}

.slider__action--right {
    right: 68px;
}

.slider__action--left {
    left: 12px;
}

.slider__action--left .slider__action-img {
    transform: rotate(180deg);
}

.slider__action--hidden {
    opacity: 0;
}
