/* latin-ext */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v14/iJWKBXyIfDnIV7nPrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v14/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v14/iJWKBXyIfDnIV7nPrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v14/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v14/iJWKBXyIfDnIV7nPrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v14/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    margin: 0;
}

:root {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}


.header {
    padding: 46px 4px 44px;

    display: flex;
    justify-content: center;
}

.header__wrapper {
    max-width: 1152px;

    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    align-items: center;
}

.header__logo-link {
    font-size: .9rem;
    line-height: 1.66666667;

    color: #02012B;
    text-decoration: none;

    display: flex;
    align-items: flex-end;
}

.header__logo-link:focus,
.header__logo-link:hover {
    color: #19BCE4;
}

.header__logo-link:focus {
    outline: #19BCE4 auto 3px;
}

.header__logo-img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    stroke: currentColor;
}

.header__logo-img path {
    fill: currentColor;
}

.header__login-btn {

    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    padding: 10px 25px;

    background: #19BCE4;
    border-radius: 6px;

    border: 0;

    cursor: pointer;
}

.header__login-btn:focus {
    outline: none;
    box-shadow: 0 0 4px 0px #222222;
}

.header__login-btn:active {
    box-shadow: inset 0 0 4px 0px #222222;
}

.header__nav {
    flex-grow: 1;
    margin: 0 120px 0 40px;
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 40px;
    justify-content: flex-end;
}

/* .nav__item + .nav__item {
    margin-left: 40px;
} */

.nav__link {
    font-size: .9rem;
    line-height: 1.16666667;

    color: #02012B;
    text-decoration: none;

    cursor: pointer;
}

.nav__link:hover {
    color: #19BCE4;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    min-height: 700px;

    background: transparent url('img/intruduction2x.jpg') center center no-repeat;
    background-size: cover;

    position: relative;

    padding: 80px 20px;
    box-sizing: border-box;
}

.introduction::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: '';

    background: #000;
    opacity: 0.56;

    z-index: 1;
}

.introduction__title {
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 1.1875;

    color: #FFFFFF;

    position: relative;
    z-index: 2;

    margin: 0 0 24px;

    max-width: 1170px;
}

.introduction__description {
    text-align: center;
    color: #FFFFFF;

    position: relative;
    z-index: 2;

    margin: 0;

    max-width: 622px;
}

.introduction__form {
    margin-top: 97px;

    position: relative;
    z-index: 2;

    max-width: 1170px;
}

.find-dreem {
    background: #fff;
    padding: 24px;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.find-dreem__label,
.find-dreem__submit {
    flex: 1 0 0;
}

.find-dreem__submit {
    margin-left: 38px;
    background: #19BCE4;
    border: none;
    cursor: pointer;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;

    color: #FFFFFF;
    text-align: center;
}

.find-dreem__label {
    display: flex;
    flex-direction: column;

    border: 1px solid rgba(25, 188, 228, 0.3);
    box-sizing: border-box;

    padding: 10px 30px;
}

.find-dreem__label:nth-child(2) {
    margin: 0 30px 0 20px;
}

.find-dreem__label-title {
    display: flex;

    font-size: .7rem;
    line-height: 1.21428571;

    color: #555;

    margin-bottom: 8px;
}

.find-dreem__label-title::after {
    content: '';

    flex: 0 0 16px;
    aspect-ratio: 1;

    background: transparent url("data:image/svg+xml,%3Csvg viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%2317C2EC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat;
    background-size: 8px;
}

.find-dreem__input,
.find-dreem__select {

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;

    color: #222;
    border: none;
    background: transparent;
}

@media (max-width: 1210px) {
    .introduction__form {
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }

    .find-dreem__label,
    .find-dreem__submit {
        flex-basis: 40%;
    }

    .find-dreem__label:nth-child(2),
    .find-dreem__submit {
        margin: 0;
    }
}

@media (max-width: 800px) {

    .find-dreem__label,
    .find-dreem__submit {
        flex-basis: 100%;
    }

    .find-dreem__submit {
        min-height: 70px;
    }
}

.section {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
}

.section__wrapper {
    flex: 0 0 100%;
    max-width: 1152px;
}

.specializing {
    padding: 120px 0 165px;
    box-sizing: border-box;
}

.specializing__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 80px;
}

.specializing__left {
    flex: 520 0 0;

    position: relative;
}

.specializing__main-img {
    display: block;
    width: 100%;
    aspect-ratio: 520 / 561;
}

.specializing__additional-img {
    position: absolute;
    bottom: -8.02139037%;
    right: -7.30769231%;
    width: 46.1538462%;
    aspect-ratio: 24 / 16;
}

.specializing__right {
    flex: 552 0 0;
}
