/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;

    color: #3F3B3D;
}

body {
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 12px 0;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__main {
    flex: 0 0 80px;
    display: flex;
}

.header__main-img {
    width: 100%;
    aspect-ratio: 80/24;
}

.header__nav {
    flex: 1 1 auto;
}

.header__items {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 0, 1, 1 */
.header__items li {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

/* 0, 2, 1 */
.header__items li.header__item--buy {
    /* margin: top right bottom left */
    /* margin: top right/left bottom */
    /* margin: top/bottom right/left */
    /* margin: top/bottom/right/left */
    margin: 0 12px 0 20px;
}

.header__items li.header__item--basket {
    margin: 0;
    flex-grow: 1;
    max-width: 70px;
}

.header__link {
    display: block;

    font-size: .518518519rem;
    line-height: 1.35714286;

    color: #3F3B3D;
    background: transparent;

    text-decoration: none;

    position: relative;
}

.header__link--btn {
    background: #DDDBDA;
    border-radius: 3px;
    padding: 14px 18px;
    box-sizing: border-box;
}

.header__link--basket {
    background: #F8F9FA;
    display: flex;
    justify-content: center;
    gap: 10px;

    flex: 0 0 100%;
}

/* .header__items li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.header__items li a:hover::before {
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 23px 16px 19px 9px rgba(0,0,0,0);
} */

.header__link:hover,
.header__link:focus {
    text-shadow: 1px 1px 2px pink;
    outline: none;
}

.header__link--btn:hover,
.header__link--btn:focus {
    text-shadow: none;
    background: #414140;
    color: #fff;
}

.header__basket-icon {
    flex: 0 0 17px;
    aspect-ratio: 1;
}

.header__basket-counter {
    --width: 18px;
    display: block;
    flex: 0 0 var(--width);
    max-width: var(--width);
    aspect-ratio: 1;

    background: #3F3B3D;
    color: #fff;
    border-radius: 50%;

    text-align: center;
    overflow: hidden;

    font-size: 11px;
    line-height: var(--width);
}

@media (max-width: 1280px) {
    .header {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.main {
    display: grid;
    grid-template-columns: 512px 1fr;
    width: 100%;
    max-width: 1280px;
    min-height: 482px;
    margin: 80px auto 0;
    box-sizing: border-box;
    background: #3F3B3D;
}

.main__body {
    padding: 64px;
    align-self: end;
}

.main__title {
    font-size: 1.22rem;
    line-height: 1.27272727;

    color: #FFFFFF;
    margin: 0 0 28px;
}

.main__actions {
    display: flex;

    gap: 8px;
}

.main__action {
    flex: 1 0 0;

    display: block;
    padding: 11px 26px 12px;

    box-sizing: border-box;

    font-size: 0.592592593rem;
    line-height: 1.3125;

    color: #FFFFFF;

    text-decoration: none;
    text-align: center;

    border-radius: 3px;

    transition: background-color .6s ease-in 0s;
}

.main__action--primary {
    background: #F14814;
}

.main__action:hover,
.main__action:focus {
    background: #aa3713;
}

.main__img-container {
    position: relative;
}

.main__wrapper {
    position: absolute;

    display: block;

    top: -80px;
    bottom: 0;
    left: 0;
    right: 0;
}

.main__img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
    object-position: center;
}

@media (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr 1fr;
        margin-top: 24px;
    }

    .main__wrapper {
        top: 0;
    }
}

@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    .main__img-container {
        order: 1;
    }

    .main__body {
        order: 2;
        max-width: 512px;
        justify-self: center;
    }

    .main__wrapper {
        position: static;
    }
}

@media (max-width: 512px) {
    .main__actions {
        flex-direction: column;
    }
}
