* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    display: flex;
    padding: 40px 56px 0;
    justify-content: flex-end;
    align-items: stretch;
    height: 36px;
    box-sizing: content-box;
}

.header__logo-link {
    margin-right: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 36px;
}

.header__search-link,
.header__basket-link {
    flex: 0 0 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #333;
    cursor: pointer;

    transition: color .5s linear 0s;
}

.header__search-link:hover,
.header__basket-link:hover {
    color: #156963;
}

.header__search-link {
    background: transparent;
    border: 0;
}

.header__link-img {
    flex: 0 0 20px;
    height: 20px;
    fill: none;
    stroke: currentColor;
}

.header__sign-up,
.header__sign-in {
    padding: 8px 20px;
    min-width: 111px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    transition: background-color .5s linear 0s;
}

.header__sign-up:hover,
.header__sign-in:hover,
.header__sign-up:focus,
.header__sign-in:focus {
    background: #28c1b6
}

.header__sign-up {
    color: #156963;
}

.header__sign-in {
    background: #156963;
    color: #fff;
}
